:root {

  --font-primary: "Roboto", sans-serif; /* Specify your primary font */
  --font-secondary: "Open Sans", sans-serif; /* Optional secondary font */
  --font-monospace: "Source Code Pro", monospace; /* Optional monospace font for code */
  color-scheme: light dark;

  --red: #d14; /* red has no inversion */
  --brightred: #f00;
  --darkred: #900;
  --lm_blue: #0086b3;
  /* --dm_blue: #00a; */
  --dm_blue: #0080a5;
  --lm_bluegray: #458;
  --dm_bluegray: #57c;
  --lightcyan: #00afaf;
  --darkcyan: #008080;
  --brightyellow: #ee7;
  --darkyellow: #aa7;
  --gray: #777; /* gray has no inversion */
  --black: #333;
  --white: #ccc;
  --brightorange: #fcdba5;
  --darkorange: #daa520;

  --backgroundlight_code: #f8f8f8;
  --backgrounddark_code: #121212;

}

body {
  font-family: var(--font-primary);
  background-color: light-dark(#fff, #000);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary); /* Use secondary font for headings */
}

figure {
  margin: 0;
}
figure pre {
  margin-bottom: 0;
}

figcaption
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: light-dark(var(--brightorange), var(--darkorange));
  font-size: 12pt;
  padding-left: 5pt;
}

/* not yet working */
/* figcaption.cap_zig { */
/*   background: #fcdba5; */
/* } */
/* figcaption.cap_shell { */
/*   background: #ccc; */
/*   color: #000; */
/* } */

pre,
code {
  font-size: 12pt;
  direction: ltr;
}

pre > code,
samp {
  display: block;
  overflow: auto;
  padding: 5pt;
  background: light-dark(var(--backgroundlight_code), var(--backgrounddark_code));
  color: light-dark(black, white);
  line-height: normal;
}

pre,
code {
  font-family: monospace;
  font-size: 12pt;
}

code {
  border-top: 5px;
  border-top-right-radius: 5px;
}

/**Treesitter grammar is uncapable to disting function within call context and
 * function declaration/definition. Both example and print are identified with
 * the same span class function and thus colored with --darkred:
 * fn ->example<-() void {
 *   std.debug.->print<-("test123\n", .{});
 * }
 **/
code.zig {

  .attribute { color: light-dark(var(--lm_bluegray), var(--dm_bluegray)); font-weight: bold; }
  .boolean { color: light-dark(var(--darkcyan), var(--lighttcyan)); }
  .comment { color: var(--gray); }
  .constant.builtin { color: light-dark(var(--lm_blue), var(--dm_blue)); font-weight: normal; }
  .function { color: light-dark(var(--darkred), var(--brightred)); font-weight: bold; }
  .function.builtin { color: light-dark(var(--lm_blue), var(--dm_blue)); font-weight: normal; }
  .keyword { color: light-dark(var(--black), var(--white)); font-weight: bold; }
  .keyword.function { color: light-dark(var(--black), var(--white)); font-weight: bold; }
  .null { color: light-dark(var(--darkcyan), var(--lighttcyan)); }
  .number { color: light-dark(var(--darkcyan), var(--lighttcyan)); }
  .operator { color: light-dark(var(--black), var(--white)); font-weight: bold; }
  .qualifier { color: light-dark(var(--lm_bluegray), var(--dm_bluegray)); font-weight: bold; }
  .string { color: var(--red); }
  .type { color: light-dark(var(--lm_bluegray), var(--dm_bluegray)); font-weight: bold; }
  .undefined { color: light-dark(var(--darkcyan), var(--lighttcyan)); }
  /* .bracket */
  /* .field */
  /* .variable */
}

.static_grid {
  display: grid;
  grid-template-columns: 400px 400px;
}
.static_double_column {
  /* exclusive end */
  grid-column-start: 1; grid-column-end: 3;
  grid-row-start: 1; grid-row-end: 2;
}
/* .static_column { } unneeded */
/* .static_row { } unneeded */

.flex_grid { column-gap: 20px; justify-content: center; margin: 15px; }
.flex_row { display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; }
.flex_double_column { display: flex; flex-direction: column; flex-basis: 100%; flex: 2 }
.flex_column { display: flex; flex-direction: column; flex-basis: 100%; flex: 1 }

/* home.smd */
/* justify-content: space-around, center, space-between */
/* .home_table_flex_grid { display: flex; justify-content: center; column-gap: 20px; flex-wrap: nowrap; } */
.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.home_left { flex: 1; width: 300px; }
.home_right { flex: 1; width: 300px; }
@media screen and (max-width: 800px) { .home_page { display: block; } }
@media screen and (max-width: 800px) { .static_grid { display: block; } }